.root {
    display: block;
    padding: 10px;
    border: 1px solid var(--color-gray-300);
    border-radius: 3px;
    font-size: 16px;
    line-height: 1.5;
    resize: vertical; /* 高さ調整を縦方向に限定 */
    background-color: var(--color-neutral-white);
}

.root:focus {
    border: 1px solid var(--color-gray-700);
    outline: none;
}

.root::placeholder {
    color: var(--color-gray-400);
}
