.formFieldWrapper {
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.textInputWrapper {
    width: calc(100% - 10px);
}

.btnWrapper {
    margin-top: 20px;

    display: flex;
    justify-content: center;
}
