.titleWrapper {
    margin-top: 120px;
    text-align: center;
}

.formWrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textInputWrapper {
    width: calc(100% - 10px);
}

.inputBlock {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.errorText {
    color: var(--color-text-error);
}

.loginBtnWrapper {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
