.pageWrapper {
    margin-top: 70px;
    margin-bottom: 150px;
}

.dateTitleWrapper {
    display: flex;
    justify-content: center;

    margin-top: 20px;
}

.dateTip {
    padding: 2px 15px;
    border: 2px solid gray;

    border-radius: 20px;
    background-color: gray;
}

.unreadText {
    text-align: right;
}

.myMessageLineWrapper {
    display: flex;
    align-items: end;
    justify-content: right;

    gap: 5px;
}

.buddyMessageLineWrapper {
    display: flex;
    align-items: end;
    justify-content: left;

    gap: 5px;
}

.message {
    padding: 5px 10px;
    margin-top: 15px;

    border-radius: 20px;

    max-width: 70%;

    white-space: pre-line;
    overflow-wrap: break-word;
    word-break: break-word;
}
.myMessage {
    background-color: #dcf8c6;
}
.buddyMessage {
    background-color: var(--color-text-white);
}
