.fixedHeaderArea {
    position: fixed;
    top: 0;
    left: 0;

    height: 70px;
    width: 100%;
    padding: 10px;

    background-color: rgba(240, 240, 240, 0.9);

    display: flex;
    align-items: center;
    gap: 5px;
}

.fixedFooterArea {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
}
