.titleWrapper {
    margin-top: 30px;

    display: flex;
    justify-content: center;
}

.noFriendWrapper {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.addFriendLink {
    color: var(--color-blue-700);
    text-decoration: underline;
    cursor: pointer;
}

.friendList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 100px;
}

.withCursor {
    cursor: pointer;
}
