.root {
    padding: 5px 20px;
    border-radius: 5px;

    font-size: var(--font-size-md);
    cursor: pointer;
}

.root:disabled {
    background-color: var(--color-gray-200);
    color: var(--color-gray-500);
    border-color: var(--color-gray-300);
    cursor: not-allowed;
    pointer-events: none; /* hover アニメなどを完全停止 */
    opacity: 0.9; /* お好みで（より弱くするため） */
}

/* Variantでスタイルを切り替える */
.colorPrimary {
    color: var(--color-text-white);
    border: 1px solid var(--color-primary-main);
    background-color: var(--color-primary-main);
    font-weight: var(--font-weight-medium);
}

.colorSecondary {
    color: var(--color-text-white);
    border: 1px solid var(--color-secondary-main);
    background-color: var(--color-secondary-main);
}

.colorTertiary {
    color: var(--color-text-gray);
    border: 1px solid var(--color-border-gray);
    background-color: var(--color-neutral-white);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}
.colorTertiary:hover {
    color: var(--color-secondary-main);
}
