.modalContent {
    position: absolute;
    inset: 50% auto auto 50%;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    width: max(300px, 35vw);
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.closeBtnWrapper {
    text-align: center;
    margin-top: 10px;
}
