.root {
    position: fixed;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: calc(100% - 50px);

    animation: fade-out 0.3s ease-in-out;
}
.root:popover-open {
    animation: fade-in 0.3s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 1;
        display: block;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.content {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

    overflow-wrap: break-word;
    white-space: pre-line;
}

.successStyle {
    color: white;
    background-color: var(--color-text-success);
}

.errorStyle {
    color: white;
    background-color: var(--color-text-error);
}
