.root {
    display: block;
    width: 100%;
    height: 38px;
    padding: 3px 10px;
    border: 1px solid var(--color-gray-300);
    border-radius: 5px;
    background-color: var(--color-neutral-white);
}

.root:focus {
    border: 2px solid var(--color-yellow-600);
}

.root::placeholder {
    color: var(--color-gray-400);
}
